public/templates/cma_test/events-start-notification.html
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <title>EdCast</title>
    <style type="text/css">
        .ReadMsgBody {
            width: 100%;
            background-color: #ffffff;
        }

        .ExternalClass {
            width: 100%;
            background-color: #ffffff;
        }

        .ExternalClass,
        .ExternalClass p,
        .ExternalClass span,
        .ExternalClass font,
        .ExternalClass td,
        .ExternalClass div {
            line-height: 100%;
        }

        html {
            width: 100%;
        }

        body {
            -webkit-text-size-adjust: none;
            -ms-text-size-adjust: none;
            margin: 0;
            padding: 0;
        }

        table {
            border-spacing: 0;
            border-collapse: collapse;
            table-layout: auto;
            margin: 0 auto;
        }

        table table table {
            table-layout: auto;
        }

        img {
            display: block !important;
            over-flow: hidden !important;
        }

        table td {
            border-collapse: collapse;
        }

        .yshortcuts a {
            border-bottom: none !important;
        }

        a {
            color: #c86e6e;
            text-decoration: none;
        }

        .textbutton a {
            font-family: 'open sans', arial, sans-serif !important;
            color: #ffffff !important;
        }

        .textlink a {
            color: #414a51 !important;
        }
        /*Responsive*/

        @media only screen and (max-width: 640px) {
            body {
                width: auto !important;
            }
            table[class="table-inner"] {
                width: 90% !important;
            }
            table[class="table-full"] {
                width: 100% !important;
                text-align: center !important;
            }
            /* Image */
            img[class="img1"] {
                width: 100% !important;
                height: auto !important;
            }
            img[class="logo"] {
                width: 60% !important;
                height: auto !important;
            }
        }

        @media only screen and (max-width: 479px) {
            body {
                width: auto !important;
            }
            table[class="table-inner"] {
                width: 90% !important;
            }
            table[class="table-full"] {
                width: 100% !important;
                text-align: center !important;
            }
            /* image */
            img[class="img1"] {
                width: 100% !important;
                height: auto !important;
            }
            img[class="logo"] {
                width: 60% !important;
                height: auto !important;
            }
        }

    </style>
</head>

<body>
    <table bgcolor="#FFFFFF" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td height="50"></td>
        </tr>
        <tr>
            <td align="center">
                <table class="table-inner" style="border-bottom:1px solid #D6D6E1;" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="center">
                            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="60" align="left" valign="bottom">
                                        <table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td height="35"></td>
                                            </tr>
                                            <tr>
                                                <td height="45" style="border-top:1px solid #a7aeb3;border-left:1px solid #a7aeb3;"></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td align="center">
                                        <table border="0" align="center" cellpadding="0" cellspacing="0" class="table-inner">
                                            <tr>
                                                <td height="10"></td>
                                            </tr>
                                            <!--logo-->
                                            <tr>
                                                <td align="center" style="line-height: 0px;">
                                                    <img class="logo" style="display:block; line-height:0px; font-size:0px; border:0px;" width="182" src="{{#if org_logo}} {{org_logo}} {{else}} https://www.edcast.com/assets/edcast_logo.png {{/if}}" alt="logo"/>
                                                </td>
                                            </tr>
                                            <!--end logo-->
                                            <tr>
                                                <td height="5"></td>
                                            </tr>
                                            <!--slogan-->
                                            <tr>
                                                <td align="center" style="font-family: 'Open sans', Arial, sans-serif; color:#a7aeb3; font-size:11px; font-style: italic;line-height: 28px;">by EdCast
                                                </td>
                                            </tr>
                                            <!--end slogan-->
                                        </table>
                                    </td>
                                    <td width="60" align="right" valign="bottom">
                                        <table width="100%" border="0" align="right" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td height="35"></td>
                                            </tr>
                                            <tr>
                                                <td height="45" style="border-top:1px solid #a7aeb3;border-right:1px solid #a7aeb3;"></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="border-right:1px solid #a7aeb3;border-left:1px solid #a7aeb3;">
                            <table align="center" class="table-inner" width="550" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td height="25"></td>
                                </tr>
                                <!--content-->
                                <tr>
                                    <td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:#7f8c8d; font-size:14px; line-height: 18px;">
                                        Hi {{name}},
                                    </td>
                                </tr>
                                <tr>
                                    <td height="25"></td>
                                </tr>
                                <tr>
                                    <td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:#7f8c8d; font-size:14px; line-height: 18px;">
                                        <p>Your event in {{group_description}} will start soon.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:#7f8c8d; font-size:14px; line-height: 18px;">
                                       <p>{{event_name}}</p>
                                       <p> {{event_description}}</p>
                                    </td>
                                </tr>
                                <!--button-->
                                <tr>
                                    <td align="center">
                                        <table class="table-full" border="0" align="center" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td align="center">
                                                    <table border="0" align="left" cellpadding="0" cellspacing="0" class="table-full">
                                                        <tr>
                                                            <td align="center">
                                                                <p align="left" style="font-family: 'Open sans', Arial, sans-serif; color:#7f8c8d; font-size:14px; line-height: 18px;">Click here to join in</p>
                                                                <table class="table-full" bgcolor="#00a1e1" border="0" align="center" cellpadding="0" cellspacing="0" style="border-radius:6px;">

                                                                    <tr>
                                                                        <td class="textbutton" height="40" align="center" style="font-family: 'Open sans', Arial, sans-serif; color:#FFFFFF; font-size:14px; padding-left: 15px;padding-right: 15px;">
                                                                            <a href="{{group_website_url}}">View Event</a>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <!--end button-->
                                <tr>
                                    <td height="25"></td>
                                </tr>
                                <tr>
                                    <td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:#7f8c8d; font-size:12px; line-height: 18px;">
                                        <p>If you have any questions, or need help, then drop us a note at support@edcast.com. We'd love to hear from you.</p>
                                        <p>Keep learning!</p>
                                        <p><i>The team at EdCast</i></p>
                                    </td>
                                </tr>
                                <!--end content-->
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td height="45" style="border-right:1px solid #a7aeb3;border-left:1px solid #a7aeb3;"></td>
                    </tr>
                </table>
                <table align="center" class="table-inner" width="600" border="0" cellspacing="0" cellpadding="0">
                    <!-- preference -->
                    <tr>
                        <td height="15"></td>
                    </tr>
                    <tr>
                        <td align="center" valign="top" style="font-family: 'Open Sans', Arial, sans-serif; font-size:12px; color:#a7aeb3; line-height:28px;font-style: italic;">
                            Made by EdCast, Inc.<br> 1901 Old Middlefield Way | Suite 21 | Mountain View | CA | 94043 | USA
                        </td>
                    </tr>
                    <!-- preference -->
                    <!--social-->
                    <tr>
                        <td height="10"></td>
                    </tr>
                    <tr>
                        <td align="center">
                            <table border="0" align="center" cellpadding="0" cellspacing="0">
                                <!-- social-->
                                <tr>
                                    <td align="center" style="line-height: 0px;">
                                        <a href="https://www.facebook.com/EdCast">
                                            <img style="display:block; line-height:0px; font-size:0px; border:0px;" src="https://s3-us-west-2.amazonaws.com/edcast-email-assets/facebook.png" alt="Facebook"/>
                                        </a>
                                    </td>
                                    <td width="15"></td>
                                    <td align="center" style="line-height: 0px;">
                                        <a href="https://twitter.com/edcast">
                                            <img style="display:block; line-height:0px; font-size:0px; border:0px;" src="https://s3-us-west-2.amazonaws.com/edcast-email-assets/twitter.png" alt="Twitter"/>
                                        </a>
                                    </td>
                                    <td width="15"></td>
                                    <td align="center" style="line-height: 0px;">
                                        <a href="https://www.linkedin.com/company/edcast">
                                            <img style="display:block; line-height:0px; font-size:0px; border:0px;" src="https://s3-us-west-2.amazonaws.com/edcast-email-assets/linkedin.png" alt="LinkedIn"/>
                                        </a>
                                    </td>
                                </tr>
                                <!-- end social -->
                            </table>
                        </td>
                    </tr>
                    <!--end social-->
                </table>
            </td>
        </tr>
        <tr>
            <td height="50"></td>
        </tr>
    </table>
</body>

</html>

public/templates/default/events-start-notification.html.slim
doctype transitional
html xmlns="http://www.w3.org/1999/xhtml"
  head
    
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta http-equiv="Content-Type" content="text/html; charset=utf-8"
    meta name="viewport" content="width=device-width initial-scale=1 minimum-scale=1 maximum-scale=1"
    title = "{{org_display_name}}"
    
  body
    /! start
    table bgcolor="#FFFFFF" width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
      tr
        td height="50"

      tr
        td align="center"
          table class="table-inner" style="border:1px solid #D6D6E1;" width="600" border="0" align="center" cellpadding="0" cellspacing="0"
            tr
              td align="center"
                table width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
                  /! header
                  nav = SlimHelper.include_partial("default/header")

            /! main content
            tr
              td[align="center"]
                table[align="center" class="table-inner" width="550" border="0" cellspacing="0" cellpadding="0"]
                  
                  tr height="25"

                  tr height="45"

                  tr
                    td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:12px; line-height: 18px;" 
                      | Hi {{name}},

                  tr
                    td height="25" 

                  tr
                    td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:12px; line-height: 18px;" 
                      p Your event in  {{group_description}}  will start soon.

                  tr
                    td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:12px; line-height: 18px;" 
                      p  {{event_name}}
                      p  {{event_description}}

                  /! button
                  tr
                    td align="center" 
                      table.table-full align="center" border="0" cellpadding="0" cellspacing="0" 
                        tr
                          td align="center"
                            p align="left" style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:12px; line-height: 18px;"  Click here to join in
                            table align="center" border="0" cellpadding="0" cellspacing="0" 
                              tr
                                td align="center" 
                                  table.table-full align="center" bgcolor="{{button_background_color}}" border="0" cellpadding="0" cellspacing="0" style="border-radius:2px;" 
                                    tr
                                      td.textbutton align="center" height="28" style="font-family: 'Open sans', Arial, sans-serif; color:#FFFFFF; font-size:12px; padding-left: 15px;padding-right: 15px;" 
                                        a style="text-decoration:none; color:#ffffff;" href="{{group_website_url}}"  View Event
                  /! end button

                  tr height="25"

                  /! end content

                  /! signature
                  nav = SlimHelper.include_partial("default/signature")
                  /! end signature

                  tr
                    td height="45"
            /! end main content
          
            /! footer
            nav = SlimHelper.include_partial("default/footer", {download:true})
            /! end footer

      tr height="50"
    /! end
